h3 {color: red; font-size: 20px;}
figcaption {color: black;  font-weight: 100px;}
figure {display: inline-block; width: 25%; float: center; margin: 0; text-align: center;padding: 0;}
.flex-rectangle {background-color: #b10606; width: 800px; height: 195px; 
    margin-left:auto;margin-right:auto; color: whitesmoke; font-size: 18px;}
body{text-align: center;}
body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");margin:115px;}

