body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");}
body {text-align: center;}
h1 {text-align:center; font-size: 30px; color: rgb(89, 132, 250);} 
u {font-size: 24px; font-family: 'Times New Roman', Times, serif; color: rgb(82, 72, 221); float: none;}
    
img {text-align: center;border-radius: 1190px; width: 490px; height: 390px; border: 5px dotted rgb(247, 146, 240);}
p {text-align: center; font-size: 19px; color: rgb(108, 100, 219);
    font-family: serif;}   

