body {background-image: url("shcback.png");}
body {text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
figure {display: inline-block; width:100%; float: center; margin: 0; text-align: center; padding:0;}
.teach {border-radius: 50%;}
width: 150px; height: 125px;}
.wch {width: 100%;}
.jj {width:"30%"}
b {color:white;
    font-family: monospace;
    text-align: center;
    margin:0px auto;
    }
    p {text-align: center;}
p {align:justify;
        background-color:firebrick;
border-radius:4px;
font-size:20px;
padding:15px;
margin:5px;
width:1850px;
height: 154px;
text-align: center;}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: darkred;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
      
      .flex-rectangle {background-color: #b10606; width: 800px; height: 195px; 
    margin-left:auto;margin-right:auto; color: whitesmoke;
    font-size: 18px; text-align: center;}
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkblue;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  body {
    font-size: 12px;
    font-family: sans-serif;
    background-repeat: repeat;
    background-size: 1324px 768px;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }
