body {background-image: url("shcback.png");text-align: center; font-family: sans-serif;}
h1, a {text-align: center;color: darkblue;} 
p {color: rgb(13, 8, 46);}
u {font-weight: 900; line-height: 40px; color: rgb(153, 48, 29);}
.flex-rectangle {background-color: #b10606; width: 800px; height: 195px; 
    margin-left:auto;margin-right:auto; color: whitesmoke;
    font-size: 18px; text-align: center;}
.left {text-align: left; margin-left: 50px; margin-right: 50px; }
.right {text-align: right; margin-left: 50px; margin-right: 50px;}
img {border-radius: 600px; border: 5px solid rgb(153, 48, 29);}
b {text-align: center;}
.noborder {border-radius:0px; border:0px none;}