body {background-image: url("shcback.png");}
body {text-align: center;
font-family: Arial, Helvetica, sans-serif;}
.img1 {text-align: center;
margin-left: 1px;
margin-right: 1px;
margin-top: 1px;
margin-bottom: 1px;
border-radius: 50%;}
b {color:white;
font-family: monospace;
text-align: center;
margin:0px auto;
}
p {text-align: center;}
p {align:justify;
        background-color:firebrick;
border-radius:4px;
font-size:20px;
padding:15px;
margin:5px;
width:1850px;
height: 154px;
text-align: center;}
