body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");margin:115px;}
.flex-rectangle {background-color: #b10606; width: 800px; height: 185px; margin-left: auto;
                 margin-right: auto; color: whitesmoke; font-size: 18px;}
.vision1 {background-color: #faaec1;margin-left: auto;margin-right: auto; color: rgb(68, 67, 67); 
          font-size: 14px; text-align: left; }
.vision2, .vision4, .vision15 {background-color: rgb(182, 182, 250);  color: rgb(68, 67, 67);
          font-size: 14px; text-align: left;}
.vision3 {background-color: #faaec1;margin-left: auto;margin-right: auto; color: rgb(68, 67, 67); font-size: 14px; text-align: left;}
.vision14 {background-color: #faaec1; color: rgb(68, 67, 67); font-size: 14px; text-align: left;}
p {text-align: center;margin-top: auto;}
b { font-size: 16px;}
a {margin-left: auto;}
.vision5 {text-align: right;
    margin-left: 480px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
            border: 5px solid #a3a3a3;
    }
.vision13{text-align: right;
    margin-left: 550px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
            border: 5px solid #a3a3a3;}

.vision6{text-align: right;
    margin-left: 250px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
            border: 5px solid #a3a3a3;}

.vision8{text-align: right;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 1px;
    width: 200px;
    height: 110px;}

.vision9{text-align: right;
    margin-left: 10px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
            border: 5px solid #a3a3a3;}

.navbar {
    overflow: hidden;
    background-color: darkred;
    font-family: Arial;}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkblue;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {
    background-color: #ddd;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
body {font-size: 12px;
font-family: sans-serif;
background-repeat: repeat;
background-size: 1324px 768px;
text-align: center;}
h1 {text-align: center;
margin: 40px 0 40px;
text-align: center;
font-size: 30px;
color: #ecf0f1;
text-shadow: 2px 2px 4px #000000;
font-family: 'Cherry Swash', cursive;}
#span {
    vertical-align: text-top; 
    color: #333; 
    font-size: x-large;
}
